:root {
  /* Colores principales */
  --primary: #3b82f6;
  --primary-dark: #2563eb;
  --primary-light: #60a5fa;
  --primary-gradient: linear-gradient(135deg, var(--primary), var(--primary-dark));
 
  }